body{
font-family: 'Times New Roman', Times, serif;
background:yellow;
}
.header_div p{
font-family: 'Times New Roman', Times, serif;
color:turquoise;
letter-spacing: 2px;
font-size: 12px;
font-weight: bold;
}
.header_div{
background:white;
color:violet;
}
.main_div button{
font-family:'Times New Roman', Times, serif;
margin-top:30px;
width: 130px;
font-weight:bolder;
letter-spacing:3px;
}
.copy_right_footer{
position:fixed;
color:paleturquoise;
bottom:0;
width: 100%;
font-size:18px;
background-color:pink;
line-height:3;
text-align:center;
text-shadow: 5px 5px 5px greenyellow;
}